1. 다음 리스트에서 "apple" 요소를 출력하세요

In [1]:
fruits = ["banana","apple","orange","cherry"]
print(fruits[1])

apple

2. 마지막 요소를 출렧하세요

In [2]:
numbers = [10,20,30,40,50]
print(numbers[-1])

50

3. "banana" 요소를 "grape"로 변경하세요

In [4]:
fruits = ["apple","banana","cherry"]
fruits[1] = "grape"
print(fruits)

['apple', 'grape', 'cherry']

4. "strawberry" 요소를 추가하세요

In [6]:
fruits = ["apple","banana","cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

5. 30을 제거하세요

In [8]:
numbers = [10,20,30,40,50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

In [14]:
numbers = [10,20,30,40,50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

6. 다음 리스트의 길이를 출력하세요

In [9]:
numbers = [5,10,15,20,25]
print(len(numbers))

5

7. 가장 작은 값, 가장 큰 값을 찾아 출력하세요

In [10]:
numbers = [10,5,8,3,15]
print(min(numbers))
print(max(numbers))

3
15

8. 모든 요소의 합을 계산하여 출력하세요

In [11]:
numbers = [10,20,30,40,50]
print(sum(numbers))

150

9. 모든 요소를 제곱하여 새로운 리스트를 생성하세요

In [23]:
numbers = [1,2,3,4,5]
newlist=[]
for num in numbers:
  print(num)

1
2
3
4
5

In [20]:
numbers = [1,2,3,4,5]
newlist=[]
for num in numbers:
  newlist.append(num)
print(newlist)

[1, 2, 3, 4, 5]

-> 제곱만 하면 된다

In [22]:
numbers = [1,2,3,4,5]
newlist=[]
for num in numbers:
  num *= num
  newlist.append(num)
print(newlist)

[1, 4, 9, 16, 25]

In [30]:
numbers = [1,2,3,4,5]
newlist=[]
for num in numbers:
  newlist.append(num**2)
print(newlist)

[1, 4, 9, 16, 25]

In [39]:
#함수 정의
def square(numbers):
  newlist=[]
  for num in numbers:
    newlist.append(num**2)
  return newlist

In [40]:
#함수로 만들기
new = square([1,2,3,4,5])

print(new)

[1, 4, 9, 16, 25]

10. "apple" 요소의 개수를 출력하세요

In [16]:
fruits = ["apple","banana","apple","cherry","apple"]
print(fruits.count("apple"))

3

함수

In [25]:
#함수정의
def square(x):
  result = x**2
  return result

In [ ]:
def square(x):
  return x**2 # return 문에 바로 연산식 써도 됨

In [26]:
#메인 부분 : 함수 사용
ret = square(6)
print(ret)

36

In [ ]:
print(square(6))
# 같은 결과

In [28]:
print(square(6))
print(square(10))
print(square(15))
print(square(20))

#squre 코드의 재사용

36
100
225
400

실전 문제

CM M 주의!!!!!!!!!!!!!!

In [35]:
def BMI(h,w) :
  m = h / 100
  bmi = w / m**2
  return bmi

In [36]:
결과 = BMI(190,90)
print(결과)

24.930747922437675