In [1]:
a = 20
if a > 5 :
  print("A는 5보다 크다")
print("프로그램 종료")

A는 5보다 크다
프로그램 종료

In [3]:
a = 5
if a > 5 :
  print("A는 5보다 크다")
  print("프로그램 종료")

In [2]:
a = 5
if a > 5 :
  print("A는 5보다 크다")
print("프로그램 종료")

프로그램 종료

elif

In [4]:
 a = 10

 if a > 5 :
  print("a는 5보다 큽니다")
elif a <= 5 :
  print("a는 5보다 작거나 같습니다")

a는 5보다 큽니다

In [5]:
 a = 5

 if a > 5 :
  print("a는 5보다 큽니다")
elif a <= 5 :
  print("a는 5보다 작거나 같습니다")

a는 5보다 작거나 같습니다

In [7]:
#a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

a = 10
if a%2 == 0 :
  print("a는 짝수")
elif a%2 != 0 :
  print("a는 홀수")

a는 짝수

In [8]:
a = 10
if a%2 == 0 :
  print("a는 짝수")
else:
  print("a는 홀수")

a는 짝수

else

In [12]:
 a = 5

 if a > 5 :
  print("a는 5보다 큽니다")
elif a < 5 :
  print("a는 5보다 작습니다")
else :
  print("a는 5입니다")

a는 5입니다

중첩조건문

In [13]:
a = 10
b = 5

if a > 5:
  if b < 10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [14]:
a = 10
b = 16

if a > 5:
  if b < 10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

In [15]:
#논리연산자 사용
a = 10
b = 5
if a > 5 and b<10:
  print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

0~100 점수를 입력받아서  90점 이상 a 80점 이상 b 70점 이상 c 60점 이상 d 그 외 f

In [21]:
score = int(input("점수를 입력하세요: "))

if score >= 90:
  print("A")
elif 80 <= score < 90:
  print("B")
elif 70 <= score < 80:
  print("C")
elif ㅊ
  print("D")
else :
  print("F")

점수를 입력하세요: 60
D

순서를 지켜야 함 예를 들어서 60 점 이상은 d 이다를 제일 먼저 입력하면 100점이어도 d가 나온다. (if score >= 60 ) 근데 (if 60 =< score <70:) 를 제일 먼저 넣으면 상관 없음 (제대로 된 범위)

In [22]:
a = [1,2,3,4,5]

for i in a:
  print(i)

1
2
3
4
5

In [25]:
a = [1,2,3,4,5]

for i in a:
  print(i, end='')

12345

tot 변수 먼저 설정 필수!! / 1 들어가고 tot(0)에 더해지고 그 다음에 2 들어가고 tot(1)에 더해지고.... 반복이 끝난 뒤에!!!!! print

In [31]:
a = [1,2,3,4,5]
tot=0
for i in a:
  print(i)
  tot += i
print(tot)

1
2
3
4
5
15

range 함수

In [32]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [34]:
for i in range(1):
  print(i)

0

In [35]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

1에서 100사이의 홀수만 출력

In [37]:
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

continue / break ///  if i%2 == 0:
    continue 짝수면 다시 처음으로 돌아가니까 프린트가 안되는거임 !

In [40]:
for i in range(1,101):
  if i%2 == 0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [41]:
for i in range (5) :
  if i % 2 == 1:
    break
  print(i)

0

1에서 10까지 짝수의 합

In [42]:
tot=0
for i in range(2,11,2):
  tot += i
print(tot)

30

1에서 10까지 홀수의 합

In [43]:
tot=0
for i in range(1,11,2):
  tot += i
print(tot)

25

짝수 합, 홀수 합 각각 구하기

In [45]:
tot1 = 0 #짝수 합
tot2 = 0 #홀수 합

for i in range(1,11):
  if i%2 == 0:
    tot1 += i
  elif i%2 == 1:
    tot2 += i

print(tot1)
print(tot2)

30
25

In [46]:
tot1 = 0
tot2 = 0

for i in range(1,11):
  if i%2 == 0:
    tot1 += i
  else:
    tot2 += i

print(tot1)
print(tot2)

30
25

하나의 숫자 n를 입력 받아서 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [52]:
n = int(input())
tot = 0

for i in range(1,n+1):
  tot += i
print(tot)

10
55